body{
    background-color:lightgray;
}
.topnav{
    /* background-color:darkgray; */
    background-color: darkkhaki;
    font-size : larger;
}
.first a{
    color:darkblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.first a:hover{
    background-color:deepskyblue;
}
legend{
    color: darkblue;

    background-color: deepskyblue;
}
fieldset{
    background-color: white;
    /* color: darkblue; */
    color: black;
    border: 2px solid black;
}
p.para{
    background-color:darkkhaki;
    color: black;
    font-family: cursive;
    font-size: x-large;
}
input:hover{
    background-color:deepskyblue;
}
a:active{
    color:darkblue;
    font-display:initial;
}
a:visited{
    color:darkblue;
}
a:hover{
    background-color: deepskyblue;
}